[submodule "vendor/symfony/class-loader/Symfony/Component/ClassLoader"]
	path = vendor/symfony/class-loader/Symfony/Component/ClassLoader
	url = https://github.com/symfony/ClassLoader
[submodule "vendor/symfony/browser-kit/Symfony/Component/BrowserKit"]
	path = vendor/symfony/browser-kit/Symfony/Component/BrowserKit
	url = https://github.com/symfony/BrowserKit
[submodule "vendor/guzzle"]
	path = vendor/guzzle
	url = https://github.com/guzzle/guzzle
[submodule "vendor/symfony/event-dispatcher/Symfony/Component/EventDispatcher"]
	path = vendor/symfony/event-dispatcher/Symfony/Component/EventDispatcher
	url = https://github.com/symfony/EventDispatcher
[submodule "vendor/symfony/dependency-injection/Symfony/Component/DependencyInjection"]
	path = vendor/symfony/dependency-injection/Symfony/Component/DependencyInjection
	url = https://github.com/symfony/DependencyInjection
[submodule "vendor/goutte"]
	path = vendor/goutte
	url = https://github.com/fabpot/Goutte
[submodule "vendor/symfony/dom-crawler/Symfony/Component/DomCrawler"]
	path = vendor/symfony/dom-crawler/Symfony/Component/DomCrawler
	url = https://github.com/symfony/DomCrawler
[submodule "vendor/symfony/configuration/Symfony/Component/Config"]
	path = vendor/symfony/configuration/Symfony/Component/Config
	url = https://github.com/symfony/Config
